:root {
    --background: #fafafa;
    --shadow: #40404010;
}

body {
    margin: 0px;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #404040;
    background-color: var(--background);
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    cursor: auto;
    scroll-behavior: smooth;
}
a, button {
    text-decoration: none;
}
a {
    color: #404040;
}
.header {
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: inherit;
    box-shadow: 0px 5px 20px var(--shadow);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist {
    margin: 0px;
    padding: 0px;
    width: 0px;
    height: 100%;
    background-color: var(--background);
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 80px;
    right: 0px;
    box-shadow: -5px 20px 20px var(--shadow);
    transition: all 0.5s ease;
}
.burger {
    background-color: var(--background);
    width: 25px;
    height: 20px;
    cursor: pointer;
    display: block;
    border: none;
}
.burger span {
    display: block;
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #404040;
    transition: all 0.5s ease-in-out;
}
.burger span:first-child {
    top: -7px;
}
.burger span:last-child {
    top: 7px;
}
.open-burger span:first-child {
    top: 2px;
    transform: rotate(-315deg);
}
.open-burger span:nth-child(2) {
    opacity: 0;
}
.open-burger span:last-child {
    top: -2px;
    transform: rotate(315deg);
}
.open-burger ~ .navlist {
    width: 250px;
}

.nav-a {
    display: block;
    padding: 20px;
    text-transform: uppercase;
}

.container {
    padding-top: 80px;
}
.main {
    padding: 20px;
}
.sidebar {
    display: none;
}
.section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 10px;
}
.emoji {
    font-size: 1.2rem;
}
.blogs {
    display: grid;
    gap: 30px;
}
.blog-card {
    display: block;
    position: relative;
    top: 0px;
    height: 320px;
    box-shadow: 5px 5px 20px var(--shadow);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.thumbnail {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.thumbnail + .blog-text {
    height: 120px;
    border-radius: 0px 0px 5px 5px;
}
.blog-text {
    position: absolute;
    bottom: 0px;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    transition: inherit;
}
.blog-title {
    margin-bottom: 5px;
}
.blog-overview {
    display: -webkit-box;
    margin-bottom: 20px;
    line-height: 1.2rem;
    font-size: 0.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #606060;
    transition: inherit;
}

.top-button {
    display: none;
}

.viewport {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 11;
}


@media screen and (min-device-width: 769px) and (orientation: landscape) {
    * {
        cursor: none;
    }

    .header {
        padding: 20px 80px;
    }

    .burger {
        display: none;
    }

    .navlist {
        display: flex;
        position: initial;
        width: auto;
        height: auto;
        gap: 50px;
        box-shadow: none;
        background-color: initial;
        flex-direction: row;
        justify-content: center;
        list-style-type: none;
    }
    .nav-a {
        position: relative;
        padding: 5px;
    }

    .nav-a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #404040;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }
    .nav-a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .main {
        padding: 80px;
    }
    .container {
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 4fr;
    }
    .sidebar {
        display: initial;
    }
    .blogs {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .thumbnail {
        height: 200px;
    }
    .blog-card:hover {
        top: -5px;
        box-shadow: 10px 10px 20px var(--shadow);
    }
    .blog-card:hover .thumbnail + .blog-text {
        height: 150px;
    }
    .blog-card:hover .blog-overview {
        -webkit-line-clamp: 3;
    }

    .top-button {
        margin: 40px;
        border-radius: 50%;
        border: none;
        right: 0px;
        bottom: 0px;
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        box-shadow: 5px 5px 20px var(--shadow);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow-img {
        transform: scale(0.5);
        fill-rule: nonzero;
        clip-rule: evenodd;
        stroke-linecap: round;
        stroke-linejoin: round;
    }

    .cursor {
        position: absolute;
        border: solid 1px #404040;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        transition: 0.3s ease;
        transition-property: border-color, backdrop-filter, background-color, transform;
    }

    .cursor-black-grow {
        transform: scale(2);
        background-color: #40404030;
        transition: 0.3s ease;
        transition-property: background-color, transform;
    }
    .cursor-white-grow {
        transform: scale(2);
        transition: 0.3s ease;
        background-color: #e9e9e930;
        border-color: #e9e9e9;
        transition-property: border-color, backdrop-filter, background-color, transform;
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
    }
}