html, body {
    margin: 0px;
    font-family: "Arial";
    color: #404040;
}
h1 {
    margin: 0px;
}
.container {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main";
}
.header {
    grid-area: header;
    background-color: #404040;
    color: #ffffff;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.sidebar {
    grid-area: sidebar;
    background-color: #657AE6;
}
.main {
    grid-area: main;
    height: 500px;
}
.navbar {
    width: 150px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.navbar li {
    display: flex;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
}